{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rzeczy do oddania</title>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/things.css' %}">
        {% block header %}
        {% endblock %}
    </head>
    <body>
        <div class="page-header">
            {% if request.user.is_superuser %}
                <a class="add" href="{% url 'things:add' token=token %}"><span class="glyphicon glyphicon-plus"></span> Dodaj</a>
                <a class="takers" href="{% url 'things:taker_list' token=token %}"><span class="glyphicon glyphicon-user"></span> Zarządzaj ludźmi</a>
            {% endif %}
            <a class="takers" href="{% url 'things:my_things' token=token %}"><span class="glyphicon glyphicon-shopping-cart"></span> Wyszabrowane :D</a>
            <h1><a href="{% url 'things:list' token=token %}">Cześć{% if taker.name %}, {{ taker.name }}{% endif %}</a></h1>
            <p class="info">Wyjeżdżamy do Londynu i rozdajemy rzeczy! Zaznaczajcie, co byście chcieli przygarnąć. Wszystko poniżej 
            oddamy w dobre ręce. Jedyny nasz warunek, to osobisty odbiór przedmiotów. Inaczej zamiast się pakować
            będziemy jeździć po ludziach ;).</p>
        </div>
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
