{% extends "things/base.html" %}
{% load staticfiles %}
{% block header %}
    <script src="{% static 'js/thing_list.js' %}"></script>
{% endblock %}
{% block content %}
    {% include 'things/include/thing_paginator.html' %}
    <div class="content container-fluid">
        <div class="row">
            {% for thing in things %}
                {% if token %}
                    {% include 'things/include/item_with_token.html' %}
                {% else %}
                    {% include 'things/include/item.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% include 'things/include/thing_paginator.html' %}
{% endblock %}
