Cześć!

Jak już wszyscy dobrze wiecie - wyprowadzamy się do Londynu. Ponieważ 
likwidujemy mieszkanie i pozbywamy się wszystkich rzeczy, chcielibyśmy, 
żebyście zaznaczyli, co chcielibyście od nas wziąć :). 

Każdy dostaje unikalny adres (te krzaki w linku to Wasz identyfikator). 
Jak klikniecie "Biorę", dana rzecz przypisywana jest do Was i przestaje być 
widoczna dla wszystkich innych. Możecie zawsze zrezygnować z brania jej 
i kliknąć "Nie chcę". 

Ponieważ fotografowanie wszystkich rzeczy, które mamy zajmuje trochę czasu, 
będziemy na bieżąco wrzucać nowe rzeczy :), więc od czasu do czasu warto 
spojrzeć co jest nowego.

Ok, tu jest link:

http://wyprowadzka.sendecka.me/{{ taker_token }}

Miłego wybierania! Odbiór preferujemy osobisty ;). 

Buziaki,
Ola & Tomek
