h1, h2, h3, h4, h5, h6 {
   font-family: 'Open Sans Condensed', sans-serif;
}

img {
    width: 100%;
}

.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

p, a {
    font-size: 1.2em; 
}

a {
    color: #274698;
}

a:hover {
    color: #5E6E98;
    text-decoration: none;
}

.content > div {
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 20px;
    column-fill: auto;
    overflow: hidden;
}

@media only screen
and (max-width : 1024px) {
    .content > div {
        -webkit-column-count: 2 !important;
    }
}

@media only screen
and (max-width : 480px) {
    .content > div {
        -webkit-column-count: 1 !important;
    }
}

.thing {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    position: relative;
}

.my-thing {
    min-height: 125px;
}

.booking {
    position: absolute;
    top: 6px;
    right: 6px;
}

.booked {
    font-size: 1.0em;
    color: #454545;
    font-style: italic;
    margin-bottom: 25px;
}

.book-form {
    float: right;
}

.thing-detail {
    margin-bottom: 100px;
}

h1.title {
    margin-top: 0;
}

.thing-name {
    margin: 10px 5px 40px;
}

.file {
    clear: both;
    margin-bottom: 30px;
}

.info {
    font-size: 1.1em;
    color: #555;
    margin-right: 30px;
}

.add, .takers{
    float: right;
    margin-right: 20px;
}

.pagination-lg {
    margin: auto;
    width: 100%;
    text-align: center;
}

.hidden {
    visible: none;
}

.gone {
    opacity: 0.6;
}

.email {
    color: #1B1456;
    margin: 2px 2px 2px 16px;
}

.email:hover {
    color: #5C5973;
}

.taker small {
    display: block;
    color: #7B858E;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #274698;
    border-color: #3E5BA6;
}

.pagination>li>a, .pagination>li>span {
    color: #274698;
}
